* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  margin: 3px;
 
}

.home-container {
  height: 100vh;
  overflow: clip;
}

/* topbar */
.topbar-container {
  width: 98vw;
  height: 12vh;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.topbar-fluid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  height: 12vh;
  background-color: #b1b0b0a2;
  border-radius: 10px;
  margin-bottom: 2px;
  color: beige;
}

.nifty-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;

}

.sensex-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;

}

.nifty{
  font-size: 14px;
  color: rgb(224, 237, 140);
  font-weight: 500;
}

.nifty-rate {
  font-size: 12px;
  color: rgb(27, 255, 46);
  font-weight: 600;
}

.percent {
  font-size: 12px;
}

.sensex{
  font-size: 14px;
  color: rgb(224, 237, 140);
  font-weight: 500;
}

.sensex-rate {
  font-size: 12px;
  color:rgb(255, 0, 0);
  font-weight: 600;
}



/* menu */

.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #424242;
  margin-left: 2px;
  width: 70%;
  height: 12vh;
  background-color: #b1b0b0a2;
  border-radius: 10px;
   margin-bottom: 2px;
  color: rgb(224, 237, 140); 
}

.dashboard-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dashboard-menu .kite-logo img {
  height: 35px;
  background-color:#b1b0b0a2 !important;
   mix-blend-mode: multiply !important;
   margin-left: 25px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65%;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  list-style-type: none;

}

.menu .menu-link {
  text-decoration: none;
  color: #dfdf47;
  font-weight: 500;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.menu .menu-link:hover{
  color: red;
}
.menu .menu-link.active {
  color: #19ebeb;
  font-weight: 600;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  margin-left: 1rem;
}

.profile .avtar {
  font-size: x-large;
  background-color: #dc08ca;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

/* dashboard */

.dashboard-container {
  width: 98vw;
  height: 100vh;

  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.watchlist-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  height: 100vh;
  background-color: #b1b0b0a2;
  border-radius: 10px;
}

.route-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #424242;
  margin-left: 2px;
  width: 70%;
  height: 100vh;
  background-color: #b1b0b0a2;
  border-radius: 10px;
}